/* Container holding the image and the text */

.container {
    position: relative;
    text-align: center;
    color: white;
}


/* Top left text */

.top-left {
    position: absolute;
    top: 300px;
    left: 26px;
}


/*
.right {
    display: block;
    margin-left: auto;
    margin-center: auto;
    width: 50%;
}

*/